<div class="to-do-content">
    <button class="add-todo" data-bind="click: toggleFormAndPopupVisibility">ADD TODO</button>
    <div id="modal-content" style="display: none;">
        <form class="modal-inner-content" data-bind="submit: addCategory">
            <select id="categorySelect" data-bind="foreach: categories, value: selectedCategory">
                <option data-bind="text: category, value: category"></option>
            </select>
            <input type="text" id="newCategory" name="newCategory" data-bind="value: newCategoryName" placeholder="new category name">
            <input type="text" id="newItem" name="newItem" data-bind="value: newItem" placeholder="new item">
            <button data-bind="visible: !isEditSave()" type="submit">save</button>
        </form>
        <button data-bind="click: saveItem, visible: isEditSave()">save Edit</button>
    </div>
    <div data-bind="foreach: {data: categories, as: 'category'}">
        <h3 data-bind="text: category"></h3>
        <div data-bind="with: $parent">
            <ul data-bind="foreach: category.items">
                <li>
                    <span data-bind="text: $data.value"></span>
                    <div>
                        <button class="edit edit-delete" data-bind="click: $parent.editItem.bind($parent, category)">Edit</button>
                        
                    </div>
                </li>
            </ul>
        </div>
    </div>



</div>
